<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>テンプレート | プロジェクト | マンフィーと青年基金NGO</title>
    <meta name="keywords" content="NGO,Ghana,monphy,ボランティア,ガーナ,マンフィー" />
    <meta name="description" content="私たち、マンフィーと青年基金 は皆さまの寄付や募金でガーナ共和国の貧困層に衣類や日用品の配布、小学校の建設などをおこなっています。Monphy &amp;amp;amp; Youth Foundation NGO マンフィーと青年基金" />
    <meta property="og:title" content="奨学金支援 | プロジェクト | マンフィーと青年基金NGO" />
    <meta property="og:description" content="私たち、マンフィーと青年基金 は皆さまの寄付や募金でガーナ共和国の貧困層に衣類や日用品の配布、小学校の建設などをおこなっています。Monphy &amp;amp;amp; Youth Foundation NGO マンフィーと青年基金" />

    <!-- <meta property="og:url" content="ページの URL" /> -->
    <!-- <meta property="og:image" content="サムネイル画像の URL" /> -->
    <meta property="og:site_name" content="奨学金支援 | プロジェクト | マンフィーと青年基金NGO" />
    <meta property="og:locale" content="ja_JP" />
    <link rel="shortcut icon" type="image/x-icon" href="http://test.miu-parts.work/MYF/images/common/favicon.ico" />
    <link rel="stylesheet" href="/site-MYF/css/reset.css" />
    <link rel="stylesheet" href="/site-MYF/project/css/style.css" />
    <script src="/site-MYF/js/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/c4397f6e78.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- #headerに共通部分は別ファイルで呼び出す -->
    <header id="header" class="header"></header>

    <!-- ============================================= -->
    <!-- ページコンテンツ記述エリア start -->

    <!-- メインビジュアル -->
    <div class="c-main-visual">
      <div class="c-main-visual__wrap">
        <img class="c-main-visual__image" src="/site-MYF/project/schoolarship/images/thumb.png" width="800px" height="450px" alt="" />
      </div>
    </div>

    <div class="c-article">
      <div class="c-article--wrap">
        <!-- タイトル -->
        <h1 class="c-article__title">テンプレート</h1>

        <h2 class="c-article__heading02">ダミー</h2>

        <p class="c-article__text">
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<span class="annotation one" >テキストテキストテキストテキストテキストテキスト</span>テキストテキストテキストテキストテキストテキスト
        </p>

        <ul class="annotation__detail-list">
          <li class="annotation__detail-item"><span>*1</span>ベリリウムの単体は還元性が非常に強く、その標準酸化還元電位E0は −1.85 V である。</li>
          <li class="annotation__detail-item"><span>*2</span>ベリリウムの単体は還元性が非常に強く、その標準酸化還元電位E0は −1.85 V である。</li>
          <li class="annotation__detail-item"><span>*3</span>ベリリウムの単体は還元性が非常に強く、その標準酸化還元電位E0は −1.85 V である。</li>
        </ul>
      </div>
    </div>

    <!-- img full -->
    <figure class="c-article__figure">
      <img class="c-articl__figure-img" src="http://placehold.jp/640x360.png" width="640px" height="360px" alt="" />
      <figcaption class="c-article__figure-cap">キャプションキャプション</figcaption>
    </figure>

    <!-- img small sp-->
    <figure class="c-article__figure-sm sp-on">
      <div class="c-article__figure-sm--wrap">
        <img class="c-articl__figure-sm-img" src="http://placehold.jp/640x360.png" width="300px" height="169px" alt="" />
        <figcaption class="c-article__figure-sm-cap">キャプションキャプション</figcaption>
      </div>
    </figure>

    <!-- img small pc-->
    <div class="c-article pc-on">
      <div class="c-article--wrap">
        <figure class="c-article__figure-sm--wrap-pc">
          <img src="http://placehold.jp/640x360.png" alt="" width="640px" height="360px" />
          <figcaption class="c-article__figure-sm-pccap">キャプションキャプション</figcaption>
        </figure>
        <p class="c-article__imgText">
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>

    <!-- 関連コンテンツ -->
    <div class="c-related-contents">
      <h2 class="c-related-contents__heading--text">関連コンテンツ</h2>

      <div class="c-related-contents--wrap">
        <!-- 学校の建設 -->
        <a href="/site-MYF/project/school-construction/" class="c-related-contents__article-list">
          <div class="c-related-contents__thumb">
            <img src="/site-MYF/project/school-construction/images/thumb.jpg" width="640px" height="360px" alt="幼稚園・小学校の建設" />
          </div>
          <div class="c-related-contents__detail">
            <h3 class="c-related-contents__title">幼稚園・小学校の建設</h3>
            <p class="c-related-contents__time"><time datetime="2021-mm-dd">2021/mm/dd</time>更新</p>
            <p class="c-related-contents__link"><span>コンテンツを見る</span></p>
          </div>
        </a>

        <!-- 井戸の建設 -->
        <a href="/site-MYF/project/bore-hole-construction/" class="c-related-contents__article-list">
          <div class="c-related-contents__thumb">
            <img src="/site-MYF/project/bore-hole-construction/images/thumb.jpg" width="640px" height="360px" alt="井戸の建設" />
          </div>
          <div class="c-related-contents__detail">
            <h3 class="c-related-contents__title">井戸の建設</h3>
            <p class="c-related-contents__time"><time datetime="2021-mm-dd">2021/mm/dd</time>更新</p>
            <p class="c-related-contents__link"><span>コンテンツを見る</span></p>
          </div>
        </a>

        <!-- 募金活動 -->
        <a href="/site-MYF/project/fundraising/" class="c-related-contents__article-list">
          <div class="c-related-contents__thumb">
            <img src="/site-MYF/project/fundraising/images/thumb.png" width="640px" height="360px" alt="募金活動" />
          </div>
          <div class="c-related-contents__detail">
            <h3 class="c-related-contents__title">募金活動</h3>
            <p class="c-related-contents__time"><time datetime="2021-05-28">2021/mm/dd</time>更新</p>
            <p class="c-related-contents__link"><span>コンテンツを見る</span></p>
          </div>
        </a>

        <!-- 医療機会の協力 -->
        <a href="/site-MYF/project/health-support/" class="c-related-contents__article-list">
          <div class="c-related-contents__thumb">
            <img src="/site-MYF/project/health-support/images/thumb.png" width="640px" height="360px" alt="医療機会の協力" />
          </div>
          <div class="c-related-contents__detail">
            <h3 class="c-related-contents__title">医療機会の協力</h3>
            <p class="c-related-contents__time"><time datetime="2021-05-28">2021/mm/dd</time>更新</p>
            <p class="c-related-contents__link"><span>コンテンツを見る</span></p>
          </div>
        </a>
      </div>
    </div>

    <!-- ページコンテンツ記述エリア end -->
    <!-- ============================================= -->

    <!-- #footerに共通部分は別ファイルで呼び出す -->
    <footer id="footer" class="footer"></footer>

    <!-- ページトップヘ移動ボタン ver JP -->
    <div id="toPageTop" class="l-toTopBtn">
      <a class="l-toTopBtn__link" href="#">
        <img class="l-toTopBtn__img" src="/site-MYF/images/common/dora_ja.png" alt="" />
      </a>
    </div>

    <script src="/site-MYF/project/js/main.js"></script>
  </body>
</html>
