html {
  font-size: 10px;
}

.l-header {
  width: 100%;
  height: 90px;
  background-color: #288f4d;
  display: flex;
  justify-content: start;
  align-items: center;
}

.l-header__wrap {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-navi {
  display: flex;
  justify-content: space-between;
  width: 548px;
}

.l-navi__item {
  font-size: 1.8rem;
}

.l-navi__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.l-navi .icon--about-us::before {
  content: "";
  display: inline-block;
  background-image: url("../images/common/icon_about-us.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

.l-navi .icon--project::before {
  content: "";
  display: inline-block;
  background-image: url("../images/common/icon_project.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

.l-navi .icon--blog::before {
  content: "";
  display: inline-block;
  background-image: url("../images/common/icon_blog.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

.l-navi .icon--donate::before {
  content: "";
  display: inline-block;
  background-image: url("../images/common/icon_donate.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}
