@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html,
body {
  font-size: 10px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

.l-section {
  width: 100%;
}

.l-section--wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 600px) {
  .l-section--wrap {
    width: 90%;
    padding: 0;
  }
}

.l-section--wrap-video {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 600px) {
  .l-section--wrap-video {
    width: 100%;
    padding: 0;
  }
}

.l-section__title--news {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--news {
    display: none;
  }
}

.l-section__title--about {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--about {
    color: #288f4d;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 20px;
    line-height: 3rem;
  }
}

.l-section__title--project {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--project {
    color: #288f4d;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 20px;
    line-height: 3rem;
  }
}

.l-section__title--donate {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
  color: #288f4d;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

.l-section__title-ja {
  font-size: 2.4rem;
}

@media (max-width: 600px) {
  .l-section__title-ja {
    font-size: 2rem;
  }
}

.l-toTopBtn {
  position: fixed;
  width: 90px;
  height: auto;
  bottom: 30px;
  right: 20px;
  background-color: #191970;
  border-radius: 20px;
  padding: 5px;
  z-index: 10;
}

@media (max-width: 600px) {
  .l-toTopBtn {
    width: 44px;
    border-radius: 5px;
    bottom: 140px;
  }
}

.l-toTopBtn__link {
  display: inline-block;
}

.l-toTopBtn__img {
  width: 100%;
}

.l-toTopBtn:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  transition: all 0.5s ease;
}

.header {
  width: inherit;
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  /*これを付け足し*/
}

@media (max-width: 600px) {
  .header {
    position: relative;
  }
}

.l-header {
  width: 100%;
  height: 130px;
  background-color: #288f4d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .l-header {
    height: 90px;
  }
}

@media (max-width: 600px) {
  .l-header__title {
    margin: 0 0 0 20px;
    position: relative;
    z-index: 1;
  }
}

.l-header__wrap {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .l-header__wrap {
    width: inherit;
  }
}

.l-header__logo {
  width: 365px;
  height: 63px;
}

@media (max-width: 600px) {
  .l-header__logo {
    width: 210px;
    height: 36px;
  }
}

.l-navi {
  display: flex;
  justify-content: space-between;
  width: 548px;
}

@media (max-width: 600px) {
  .l-navi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: inherit;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 30px 0;
  }
}

.l-navi__item {
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .l-navi__item {
    width: 90%;
    margin: 0 auto 30px;
  }
  .l-navi__item:last-of-type {
    margin-bottom: 0;
  }
}

.l-navi__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

@media (max-width: 600px) {
  .l-navi__link {
    flex-direction: row;
  }
}

.l-navi .icon--about-us::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_about-us.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--about-us::before {
    margin-right: 5px;
  }
}

.l-navi .icon--project::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_project.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--project::before {
    margin-right: 5px;
  }
}

.l-navi .icon--blog::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_blog.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--blog::before {
    margin-right: 5px;
  }
}

.l-navi .icon--donate::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_donate.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--donate::before {
    margin-right: 5px;
  }
}

.l-navi__wrap {
  margin-top: 10px;
  width: 960px;
  height: 30px;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  .l-navi__wrap {
    width: inherit;
    position: absolute;
    top: 100px;
  }
}

.l-navi--chengeLang {
  width: 120px;
  list-style: none;
  position: absolute;
  right: 30px;
}

@media (max-width: 600px) {
  .l-navi--chengeLang {
    width: 70px;
    right: 20px;
  }
}

.l-navi--chengeLang__list {
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: inherit;
  cursor: pointer;
}

.l-navi--chengeLang__list .disabled {
  pointer-events: none;
}

.l-navi--chengeLang__list-header {
  position: relative;
}

.l-navi--chengeLang__list-header::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/site-MYF/images/common/earth.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .l-navi--chengeLang__list-header::after {
    top: 8px;
    right: 0;
    left: 1px;
  }
}

.l-navi--chengeLang__list a {
  padding: 10px;
  background-color: #000;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 1em;
}

.l-navi--chengeLang__list a:hover {
  background-color: #333;
}

.l-navi--chengeLang__list-item__wrap {
  width: 100%;
  display: none;
  position: absolute;
  padding: 0;
}

.menu__btn {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    width: 250px;
    height: 350px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-250px);
    /* right0から250px移動した位置 */
    transition: all 0.5s;
    /* 移動する速さ */
  }
  .menu.open {
    transform: translateX(0);
    /* right0まで-250px移動 */
  }
  .menu__btn {
    display: block;
    position: fixed;
    right: 0;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #191970;
    cursor: pointer;
    z-index: 11;
  }
  .menu__background {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    /* 透明度を0にすることで隠す */
    transition: opacity 0.5s;
    /* 透明度の0→1になる速度 */
  }
  .menu__background.open {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* メニューが表示されているときには背景が表示 */
  }
}

.l-footer__img {
  padding-top: calc(400 / 1500 * 100%);
  background-image: url(/site-MYF/images/common/footer_img.png);
  background-size: contain;
}

.l-footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.l-footer__info--wrap {
  background-color: #288f4d;
}

.l-footer__info--group {
  color: #fff;
  font-size: 14px;
}

.l-footer__info--group p {
  line-height: 1.6;
}

.l-footer__info--group span {
  line-height: 1.2;
  font-size: 2.6rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .l-footer__info--group span {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .l-footer__info--zip-code {
    display: none;
  }
}

@media (max-width: 600px) {
  .l-footer__info--address {
    display: none;
  }
}

.l-footer__SNS--link {
  display: flex;
}

.l-footer__SNS--icon {
  margin: 0 15px 0 0;
  color: #fff;
}

.l-footer__SNS--icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.l-footer__SNS--icon:last-child {
  margin: 0;
}

.l-footer__copy--wrap {
  background-color: #422f0f;
  padding: 20px 0;
}

.l-footer__copy--text {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .l-footer__copy--text {
    font-size: 0.8rem;
  }
}

.c-video--wrap {
  padding-top: 130px;
  width: 100%;
}

@media (max-width: 600px) {
  .c-video--wrap {
    padding-top: 0;
  }
}

.c-video--wrap video {
  width: inherit;
  vertical-align: bottom;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.arrow:after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
}

.c-btn--wrap {
  text-align: center;
}

@media (max-width: 600px) {
  .c-btn--wrap {
    width: 100%;
  }
}

.c-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.c-btn__img {
  width: 440px;
  height: 100px;
}

@media (max-width: 600px) {
  .c-btn__img {
    width: 100%;
    height: auto;
  }
}

.bg-green {
  background: #e5f1e3;
}

.pb0 {
  padding-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
