.c-card {
  display: flex;
  margin-bottom: 40px;

  @include sp {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &--wrap {
    margin: 0 auto;
    width: 100%;
    margin-right: 20px;

    @include sp {
      width: 47%;
      margin: 0 0 20px 0;
    }

    &:nth-of-type(2n) {
      @include sp {
        margin-left: auto;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      transition: all 0.5s;
    }
  }

  &__item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
  }

  &__img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
  }

  &__content {
    padding: 15px 20px 20px;
  }

  &__title {
    font-size: 1.6rem;
    color: $cText;
    font-weight: 700;
    margin-bottom: 12px;

    @include sp {
      font-size: 1.3rem;
    }
  }

  &__text {
    color: $cText;
    font-size: 1.4rem;
    line-height: 1.4;

    @include sp {
      font-size: 1.2rem;
    }
  }

  &__btn {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 5px 20px;

    @include sp {
      padding: 5px;
    }

    &-text {
      text-decoration: none;
      color: #4f96f6;
      margin: 0 10px;
      &:hover {
        color: #6bb6ff;
      }
    }
  }
}

.btn__icon {
  &-message {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_message.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
  &-overview {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_staff.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
  &-staff {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_delivery.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
  &-ques {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_piano.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
  &-school {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_school.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
  &-well {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_well.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
  &-support {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_note.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
  &-donate {
    &::after {
      content: "";
      background-image: url(/site-MYF/images/top/icon_donate.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
}
