.p-about {
  &__figure {
    width: 389px;
    height: 400px;

    @include sp {
      width: 100%;
      height: auto;
    }

    &--wrap {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  &__description {
    color: $cText;
    font-size: 1.6rem;
    line-height: 1.6;

    &--wrap {
      margin: 0 auto;
      padding: 0 0 42px;
      width: 590px;

      @include sp {
        width: 100%;
      }
    }
  }
}
