.p-donate {
  &--wrap {
    display: flex;
    justify-content: space-between;

    @include sp {
      display: block;
    }
  }

  &__description {
    color: $cText;
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.6;

    @include sp {
      width: inherit;
      margin-bottom: 18px;
    }

    &--wrap {
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include sp {
        width: 100%;
        margin-top: 22px;
      }
    }
  }
}
