.wrapper {
  max-width: 960px;
  margin-inline: auto;
  padding: 0 12px;

  & .anchor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: min(4.26vw, 24px) 12px;
    border-top: 1px dashed #666;


    &:last-child {
      border-bottom: 1px dashed #666;
    }


    & .anchorText {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 6px;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      &>div:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        width: 220px;

        & .date {
          color: #666;
          font-size: min(4.26vw, 16px);
        }

        & .tag {
          padding: 2px 8px;
          border-width: 1px;
          border-color: #666;
          border-style: solid;
          border-radius: 9999px;
          color: #fff;
          font-size: min(3.2vw, 12px);
          font-weight: bold;
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
          transform: translate(-2px, -2px);
          transition: box-shadow 0.3s, transform 0.3s;

          &.archive {
            background-color: red;
          }

          &.facebook {
            background-color: rgba(43, 105, 255, 0.7);
          }
        }
      }

      &>div:last-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: 16px;

        & .text {
          font-size: min(4.26vw, 16px);
          font-weight: bold;
          line-height: 1.4;
          flex: 1;
        }

      }

    }

    & svg {
      flex-basis: 24px;
      transform: translateX(-4px);
      transition: transform 0.3s;
      color: #197611;
    }

    @media screen and (min-width: 376px) {
      &:hover {
        background-color: #00000012;

        &>.anchorText {
          &>div:first-child {
            & .tag {
              box-shadow: none;
              transform: none;
            }
          }

          &>div:last-child {
            & .text {
              text-decoration: underline;
            }
          }
        }

        & svg {
          transform: translateX(0);
        }
      }
    }
  }
}
