.mv {
  background-color: $bgColor;
  position: relative;
  z-index: 1;
  width: 100%;

  @include sp {
    height: 250px;
  }

  &--under-layer {
    padding-top: 90px;
    position: relative;
    z-index: 1;
    @include sp {
      padding-top: 0;
    }

    @include sp {
      display: none;
    }
  }

  &--upper-layer {
    padding-top: 90px;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 960px;
    left: 0;
    right: 0;
    margin: auto;

    @include sp {
      padding-top: 0;
      width: 100%;
    }
  }
}

.main_imgBox--under-layer {
  height: 540px;
  overflow: hidden;
  position: relative;

  .main_img {
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 540px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;

    // 4枚用（1枚6秒）
    -webkit-animation: anime 24s 0s infinite;
    animation: anime 24s 0s infinite;

    // 6枚用
    // -webkit-animation: anime 36s 0s infinite;
    // animation: anime 36s 0s infinite;

    &:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s;
    }

    &:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s;
    }

    &:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s;
    }

    // 6枚までの設定
    // &:nth-of-type(5) {
    //   -webkit-animation-delay: 24s;
    //   animation-delay: 24s;
    // }

    // &:nth-of-type(6) {
    //   -webkit-animation-delay: 30s;
    //   animation-delay: 30s;
    // }
  }
}

.main_imgBox--upper-layer {
  height: 540px;
  position: relative;

  .main_imgM {
    opacity: 0;
    width: 960px;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: animeNoscale 24s 0s infinite;
    animation: animeNoscale 24s 0s infinite;
    // -webkit-animation: anime 36s 0s infinite;
    // animation: anime 36s 0s infinite;

    @include sp {
      width: 100%;
      background-size: contain;
    }

    &:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s;
    }

    &:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s;
    }

    &:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s;
    }

    // &:nth-of-type(5) {
    //   -webkit-animation-delay: 24s;
    //   animation-delay: 24s;
    // }

    // &:nth-of-type(6) {
    //   -webkit-animation-delay: 30s;
    //   animation-delay: 30s;
    // }
  }
}

.main_logo {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animeNoscale {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animeNoscale {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
