@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html,
body {
  font-size: 10px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

.l-section {
  width: 100%;
}

.l-section--wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 600px) {
  .l-section--wrap {
    width: 90%;
    padding: 0;
  }
}

.l-section--wrap-video {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 600px) {
  .l-section--wrap-video {
    width: 100%;
    padding: 0;
  }
}

.l-section__title--news {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--news {
    display: none;
  }
}

.l-section__title--about {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--about {
    color: #288f4d;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 20px;
    line-height: 3rem;
  }
}

.l-section__title--project {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--project {
    color: #288f4d;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 20px;
    line-height: 3rem;
  }
}

.l-section__title--donate {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
  color: #288f4d;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

.l-section__title-ja {
  font-size: 2.4rem;
}

@media (max-width: 600px) {
  .l-section__title-ja {
    font-size: 2rem;
  }
}

.l-toTopBtn {
  position: fixed;
  width: 90px;
  height: auto;
  bottom: 30px;
  right: 20px;
  background-color: #191970;
  border-radius: 20px;
  padding: 5px;
  z-index: 10;
}

@media (max-width: 600px) {
  .l-toTopBtn {
    width: 44px;
    border-radius: 5px;
    bottom: 140px;
  }
}

.l-toTopBtn__link {
  display: inline-block;
}

.l-toTopBtn__img {
  width: 100%;
}

.l-toTopBtn:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  transition: all 0.5s ease;
}

.header {
  width: inherit;
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  /*これを付け足し*/
}

@media (max-width: 600px) {
  .header {
    position: relative;
  }
}

.l-header {
  width: 100%;
  height: 130px;
  background-color: #288f4d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .l-header {
    height: 90px;
  }
}

@media (max-width: 600px) {
  .l-header__title {
    margin: 0 0 0 20px;
    position: relative;
    z-index: 1;
  }
}

.l-header__wrap {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .l-header__wrap {
    width: inherit;
  }
}

.l-header__logo {
  width: 365px;
  height: 63px;
}

@media (max-width: 600px) {
  .l-header__logo {
    width: 210px;
    height: 36px;
  }
}

.l-navi {
  display: flex;
  justify-content: space-between;
  width: 548px;
}

@media (max-width: 600px) {
  .l-navi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: inherit;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 30px 0;
  }
}

.l-navi__item {
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .l-navi__item {
    width: 90%;
    margin: 0 auto 30px;
  }
  .l-navi__item:last-of-type {
    margin-bottom: 0;
  }
}

.l-navi__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

@media (max-width: 600px) {
  .l-navi__link {
    flex-direction: row;
  }
}

.l-navi .icon--about-us::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_about-us.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--about-us::before {
    margin-right: 5px;
  }
}

.l-navi .icon--project::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_project.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--project::before {
    margin-right: 5px;
  }
}

.l-navi .icon--blog::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_blog.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--blog::before {
    margin-right: 5px;
  }
}

.l-navi .icon--donate::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_donate.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--donate::before {
    margin-right: 5px;
  }
}

.l-navi__wrap {
  margin-top: 10px;
  width: 960px;
  height: 30px;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  .l-navi__wrap {
    width: inherit;
    position: absolute;
    top: 100px;
  }
}

.l-navi--chengeLang {
  width: 120px;
  list-style: none;
  position: absolute;
  right: 30px;
}

@media (max-width: 600px) {
  .l-navi--chengeLang {
    width: 70px;
    right: 20px;
  }
}

.l-navi--chengeLang__list {
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: inherit;
  cursor: pointer;
}

.l-navi--chengeLang__list .disabled {
  pointer-events: none;
}

.l-navi--chengeLang__list-header {
  position: relative;
}

.l-navi--chengeLang__list-header::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/site-MYF/images/common/earth.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .l-navi--chengeLang__list-header::after {
    top: 8px;
    right: 0;
    left: 1px;
  }
}

.l-navi--chengeLang__list a {
  padding: 10px;
  background-color: #000;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 1em;
}

.l-navi--chengeLang__list a:hover {
  background-color: #333;
}

.l-navi--chengeLang__list-item__wrap {
  width: 100%;
  display: none;
  position: absolute;
  padding: 0;
}

.menu__btn {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    width: 250px;
    height: 350px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-250px);
    /* right0から250px移動した位置 */
    transition: all 0.5s;
    /* 移動する速さ */
  }
  .menu.open {
    transform: translateX(0);
    /* right0まで-250px移動 */
  }
  .menu__btn {
    display: block;
    position: fixed;
    right: 0;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #191970;
    cursor: pointer;
    z-index: 11;
  }
  .menu__background {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    /* 透明度を0にすることで隠す */
    transition: opacity 0.5s;
    /* 透明度の0→1になる速度 */
  }
  .menu__background.open {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* メニューが表示されているときには背景が表示 */
  }
}

.l-footer__img {
  padding-top: calc(400 / 1500 * 100%);
  background-image: url(/site-MYF/images/common/footer_img.png);
  background-size: contain;
}

.l-footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.l-footer__info--wrap {
  background-color: #288f4d;
}

.l-footer__info--group {
  color: #fff;
  font-size: 14px;
}

.l-footer__info--group p {
  line-height: 1.6;
}

.l-footer__info--group span {
  line-height: 1.2;
  font-size: 2.6rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .l-footer__info--group span {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .l-footer__info--zip-code {
    display: none;
  }
}

@media (max-width: 600px) {
  .l-footer__info--address {
    display: none;
  }
}

.l-footer__SNS--link {
  display: flex;
}

.l-footer__SNS--icon {
  margin: 0 15px 0 0;
  color: #fff;
}

.l-footer__SNS--icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.l-footer__SNS--icon:last-child {
  margin: 0;
}

.l-footer__copy--wrap {
  background-color: #422f0f;
  padding: 20px 0;
}

.l-footer__copy--text {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .l-footer__copy--text {
    font-size: 0.8rem;
  }
}

.p-project--wrap {
  width: 960px;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  border-bottom: 2px solid #dedede;
}

@media (max-width: 600px) {
  .p-project--wrap {
    display: block;
    width: 90%;
    padding: 0 0 40px 0;
    margin: 0 auto 40px;
  }
}

.p-project--wrap:nth-of-type(1) {
  padding-top: 60px;
}

.p-project__title {
  font-size: 1.8rem;
  line-height: 2.4;
  color: #333333;
}

.p-project__title a {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}

.p-project__title a:hover::after {
  width: 100%;
}

.p-project__title a::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #288f4d;
  transition: 0.3s;
}

.p-project__article-left {
  width: 50%;
}

@media (max-width: 600px) {
  .p-project__article-left {
    width: 100%;
    margin-bottom: 50px;
  }
}

.p-project__article-right {
  width: 50%;
}

@media (max-width: 600px) {
  .p-project__article-right {
    width: 100%;
  }
}

.p-project__article-detail {
  position: relative;
  z-index: 1;
  color: #333333;
  font-size: 1.8rem;
  margin-bottom: 40px;
  background-image: linear-gradient(180deg, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0) 98.5%, #646464 100%);
  background-repeat: repeat-y;
  background-size: 100% 2.4em;
  line-height: 2.4;
}

.p-project__article-img {
  width: 100%;
  overflow: hidden;
}

.p-project__article-img img {
  width: 100%;
  height: auto;
  transition: 1s all;
}

.p-project__article-img img:hover {
  transform: scale(1.2, 1.2);
  transition: 1s all;
}

.p-project__article-link {
  display: none;
  position: absolute;
  z-index: 1;
  width: 240px;
  height: 20px;
  margin-top: 20px;
  bottom: -20px;
  right: 0;
}

@media (max-width: 600px) {
  .p-project__article-link {
    display: inline-block;
  }
}

.p-project__article-link__arrow {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 230px;
  height: 18px;
  bottom: -10px;
  border-bottom: 1px solid #288f4d;
  border-right: 1px solid #288f4d;
  transform: skew(45deg);
}

.p-project__article-link__text {
  color: #288f4d;
  font-size: 14px;
  position: absolute;
  z-index: 2;
  right: 5px;
  display: inline-block;
  width: 220px;
  height: auto;
}

.c-related-contents {
  width: calc(100% - 20px);
  height: auto;
  margin: 40px auto;
  padding-bottom: 20px;
}

@media (min-width: 601px) {
  .c-related-contents {
    margin: 0 auto;
    width: 800px;
  }
}

@media (min-width: 601px) {
  .c-related-contents--wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.c-related-contents__heading--text {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.c-related-contents__article-list {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

@media (min-width: 601px) {
  .c-related-contents__article-list {
    width: calc(100% / 2 - 5px);
  }
}

.c-related-contents__article-list:hover {
  opacity: 0.5;
}

.c-related-contents__thumb {
  height: auto;
  margin-right: 10px;
}

@media (min-width: 601px) {
  .c-related-contents__thumb {
    margin-right: 20px;
  }
}

.c-related-contents__thumb img {
  width: 144px;
  height: auto;
}

.c-related-contents__detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.c-related-contents__title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 7.5px;
}

@media (max-width: 600px) {
  .c-related-contents__title {
    margin-top: 0;
    font-size: 1.6rem;
  }
}

.c-related-contents__time {
  font-size: 1.6rem;
  margin-top: 9px;
}

@media (max-width: 600px) {
  .c-related-contents__time {
    font-size: 1.4rem;
  }
}

.c-related-contents__link {
  font-size: 1.6rem;
  margin-top: 4px;
  text-align: right;
}

@media (max-width: 600px) {
  .c-related-contents__link {
    font-size: 1.4rem;
  }
}

.c-related-contents__link span {
  position: relative;
  padding-left: 13px;
}

.c-related-contents__link span::before {
  content: ">";
  width: 10px;
  height: auto;
  position: absolute;
  left: 0;
}

.c-video--wrap {
  padding-top: 130px;
  width: 100%;
}

@media (max-width: 600px) {
  .c-video--wrap {
    padding-top: 0;
  }
}

.c-video--wrap video {
  width: inherit;
  vertical-align: bottom;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.arrow:after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
}

.c-btn--wrap {
  text-align: center;
}

@media (max-width: 600px) {
  .c-btn--wrap {
    width: 100%;
  }
}

.c-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.c-btn__img {
  width: 440px;
  height: 100px;
}

@media (max-width: 600px) {
  .c-btn__img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 601px) {
  .c-main-visual {
    padding-top: 130px;
  }
}

.c-main-visual__wrap {
  width: 100%;
}

@media (min-width: 601px) {
  .c-main-visual__wrap {
    width: 800px;
    height: auto;
    margin: 0 auto;
  }
}

.c-main-visual__wrap img {
  width: 100%;
  height: auto;
}

.c-article {
  width: calc(100% - 20px);
  margin: 0 auto;
}

@media (min-width: 601px) {
  .c-article--wrap {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 72px;
  }
}

@media (min-width: 601px) {
  .c-article--wrap + .c-article__figure {
    margin-top: 72px;
  }
}

.c-article__title {
  color: #333;
  margin: 20px 0;
  font-size: 2.4rem;
  font-weight: 600;
}

@media (min-width: 601px) {
  .c-article__title {
    margin: 72px 0;
    font-size: 3.6rem;
  }
}

.c-article__heading02 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  margin: 20px 0;
  line-height: 2.8rem;
}

.c-article__heading02::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 28px;
  left: 0;
  top: 0;
  background-color: #288f4d;
}

.c-article__text {
  color: #333;
  font-size: 1.6rem;
  line-height: 30px;
  padding-bottom: 20px;
}

@media (min-width: 601px) {
  .c-article__text {
    font-size: 1.8rem;
    line-height: 36px;
    padding-bottom: 72px;
  }
}

.c-article__figure {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

@media (min-width: 601px) {
  .c-article__figure {
    width: 800px;
    margin: 0 auto 72px;
  }
}

.c-article__figure img {
  width: 100%;
  height: auto;
}

.c-article__figure-img {
  position: relative;
  z-index: 1;
}

.c-article__figure-cap {
  position: absolute;
  z-index: 2;
  height: 36px;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
  background-color: #525252;
  padding-left: 10px;
}

@media (min-width: 601px) {
  .c-article__figure-cap {
    line-height: 72px;
    height: 72px;
    padding-left: 36px;
    font-size: 2.4rem;
  }
}

.c-article__figure-sm {
  width: 100%;
  margin: 20px 0;
}

.c-article__figure-sm--wrap {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 180px;
  margin: 0 auto;
}

.c-article__figure-sm--wrap-pc {
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 0 20px 0;
}

@media (min-width: 601px) {
  .c-article__figure-sm--wrap-pc {
    margin: 0 36px 0 0;
  }
}

.c-article__figure-sm--wrap-pc img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

@media (min-width: 601px) {
  .c-article__figure-sm--wrap-pc img {
    width: 400px;
  }
}

.c-article__figure-sm-pccap {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 36px;
  bottom: 0;
  font-size: 2rem;
  line-height: 36px;
  color: #fff;
  background-color: #525252;
  padding-left: 25px;
}

.c-article__figure-sm img {
  width: 300px;
  height: auto;
  vertical-align: top;
}

.c-article__figure-sm-img {
  position: relative;
  z-index: 1;
}

.c-article__figure-sm-cap {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 36px;
  bottom: 0;
  font-size: 10px;
  line-height: 36px;
  color: #fff;
  background-color: #525252;
  padding-left: 10px;
}

.c-article__imgText {
  color: #333;
  font-size: 1.6rem;
  line-height: 30px;
}

@media (min-width: 601px) {
  .c-article__imgText {
    font-size: 1.8rem;
    line-height: 36px;
  }
}

.annotation {
  color: #525252;
  text-decoration: underline solid #525252;
}

.annotation.one::after {
  content: "*1";
  color: #ff3333;
  font-weight: 600;
}

.annotation.two::after {
  content: "*2";
  color: #ff3333;
  font-weight: 600;
}

.annotation.three::after {
  content: "*3";
  color: #ff3333;
  font-weight: 600;
}

.annotation.four::after {
  content: "*4";
  color: #ff3333;
  font-weight: 600;
}

.annotation__detail-list {
  margin: 20px 0;
}

@media (min-width: 601px) {
  .annotation__detail-list {
    margin: 0;
  }
}

.annotation__detail-item {
  color: #333;
  position: relative;
  font-size: 1.6rem;
  padding-left: 3.2rem;
  line-height: 30px;
  margin-bottom: 10px;
}

.annotation__detail-item:last-of-type {
  margin-bottom: 0;
}

.annotation__detail-item span {
  position: absolute;
  left: 0;
  color: #ff3333;
  font-weight: 600;
}

.bg-green {
  background: #e5f1e3;
}

.pb0 {
  padding-bottom: 0;
}

@media (min-width: 601px) {
  .sp-on {
    display: none;
  }
}

@media (max-width: 600px) {
  .pc-on {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
