.heading2 {
  position: relative;
  color: #288f4d;
  text-align: center;
  font-weight: bold;
  font-size: min(8vw, 32px);
  line-height: 1;

  &::first-letter {
    font-size: min(12vw, 40px);
  }

  &~* {
    margin-top: min(6.4vw, 36px);
  }

  // アニメーション予定
  // &.inview{
  // }
}
