.l-navi {
  display: flex;
  justify-content: space-between;
  width: 548px;

  @include sp {
    width: 100%;
    position: absolute;
    z-index: 2;
    right: -150%;
  }

  &__item {
    font-size: 1.8rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  @include sp {
    // ハンバーガーメニューボタン
    &--toggle {
      position: absolute;
      right: 20px;
      width: 30px;
      height: 24px;

      span {
        position: absolute;
        width: 100%;
        height: 4px;
        background: #ccc;
        border-radius: 10px;
        transition: all 400ms;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 20px;
        }
      }
    }
  }

  &.open {
    right: 0;
  }

  .icon {
    &--about-us {
      &::before {
        content: "";
        display: inline-block;
        background-image: url("../images/common/icon_about-us.png");
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        background-size: contain;
      }
    }
    &--project {
      &::before {
        content: "";
        display: inline-block;
        background-image: url("../images/common/icon_project.png");
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        background-size: contain;
      }
    }
    &--blog {
      &::before {
        content: "";
        display: inline-block;
        background-image: url("../images/common/icon_blog.png");
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        background-size: contain;
      }
    }
    &--donate {
      &::before {
        content: "";
        display: inline-block;
        background-image: url("../images/common/icon_donate.png");
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        background-size: contain;
      }
    }
  }
}
