@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html,
body {
  font-size: 10px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

.l-section {
  width: 100%;
  padding-bottom: 40px;
}

.l-section--wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 600px) {
  .l-section--wrap {
    width: 90%;
    padding: 0;
  }
}

.l-section__title--news {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--news {
    display: none;
  }
}

.l-section__title--about {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--about {
    color: #288f4d;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 20px;
    line-height: 3rem;
  }
}

.l-section__title--project {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .l-section__title--project {
    color: #288f4d;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 20px;
    line-height: 3rem;
  }
}

.l-section__title--donate {
  color: #288f4d;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
  color: #288f4d;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 40px 0 20px;
  line-height: 3rem;
}

.l-section__title-ja {
  font-size: 2.4rem;
}

@media (max-width: 600px) {
  .l-section__title-ja {
    font-size: 2rem;
  }
}

.l-toTopBtn {
  position: fixed;
  width: 90px;
  height: auto;
  bottom: 30px;
  right: 20px;
  background-color: #191970;
  border-radius: 20px;
  padding: 5px;
  z-index: 10;
}

@media (max-width: 600px) {
  .l-toTopBtn {
    width: 44px;
    border-radius: 5px;
    bottom: 140px;
  }
}

.l-toTopBtn__link {
  display: inline-block;
}

.l-toTopBtn__img {
  width: 100%;
}

.l-toTopBtn:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  transition: all 0.5s ease;
}

.header {
  width: inherit;
  position: fixed;
  z-index: 5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  /*これを付け足し*/
}

@media (max-width: 600px) {
  .header {
    position: relative;
  }
}

.l-header {
  width: 100%;
  height: 130px;
  background-color: #288f4d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .l-header {
    height: 90px;
  }
}

@media (max-width: 600px) {
  .l-header__title {
    margin: 0 0 0 20px;
    position: relative;
    z-index: 1;
  }
}

.l-header__wrap {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .l-header__wrap {
    width: inherit;
  }
}

.l-header__logo {
  width: 365px;
  height: 63px;
}

@media (max-width: 600px) {
  .l-header__logo {
    width: 210px;
    height: 36px;
  }
}

.l-navi {
  display: flex;
  justify-content: space-between;
  width: 548px;
}

@media (max-width: 600px) {
  .l-navi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: inherit;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 30px 0;
  }
}

.l-navi__item {
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .l-navi__item {
    width: 90%;
    margin: 0 auto 30px;
  }
  .l-navi__item:last-of-type {
    margin-bottom: 0;
  }
}

.l-navi__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

@media (max-width: 600px) {
  .l-navi__link {
    flex-direction: row;
  }
}

.l-navi .icon--about-us::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_about-us.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--about-us::before {
    margin-right: 5px;
  }
}

.l-navi .icon--project::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_project.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--project::before {
    margin-right: 5px;
  }
}

.l-navi .icon--blog::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_blog.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--blog::before {
    margin-right: 5px;
  }
}

.l-navi .icon--donate::before {
  content: "";
  display: inline-block;
  background-image: url(/site-MYF/images/common/icon_donate.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  background-size: contain;
}

@media (max-width: 600px) {
  .l-navi .icon--donate::before {
    margin-right: 5px;
  }
}

.l-navi__wrap {
  margin-top: 10px;
  width: 960px;
  height: 30px;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  .l-navi__wrap {
    width: inherit;
    position: absolute;
    top: 100px;
  }
}

.l-navi--chengeLang {
  width: 120px;
  list-style: none;
  position: absolute;
  right: 30px;
}

@media (max-width: 600px) {
  .l-navi--chengeLang {
    width: 70px;
    right: 20px;
  }
}

.l-navi--chengeLang__list {
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: inherit;
  cursor: pointer;
}

.l-navi--chengeLang__list .disabled {
  pointer-events: none;
}

.l-navi--chengeLang__list-header {
  position: relative;
}

.l-navi--chengeLang__list-header::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/site-MYF/images/common/earth.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .l-navi--chengeLang__list-header::after {
    top: 8px;
    right: 0;
    left: 1px;
  }
}

.l-navi--chengeLang__list a {
  padding: 10px;
  background-color: #000;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 1em;
}

.l-navi--chengeLang__list a:hover {
  background-color: #333;
}

.l-navi--chengeLang__list-item__wrap {
  width: 100%;
  display: none;
  position: absolute;
  padding: 0;
}

.menu__btn {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    width: 250px;
    height: 350px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-250px);
    /* right0から250px移動した位置 */
    transition: all 0.5s;
    /* 移動する速さ */
  }
  .menu.open {
    transform: translateX(0);
    /* right0まで-250px移動 */
  }
  .menu__btn {
    display: block;
    position: fixed;
    right: 0;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #191970;
    cursor: pointer;
    z-index: 11;
  }
  .menu__background {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    /* 透明度を0にすることで隠す */
    transition: opacity 0.5s;
    /* 透明度の0→1になる速度 */
  }
  .menu__background.open {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* メニューが表示されているときには背景が表示 */
  }
}

.mv {
  background-color: #e5f1e3;
  position: relative;
  z-index: 1;
  width: 100%;
}

@media (max-width: 600px) {
  .mv {
    height: 250px;
  }
}

.mv--under-layer {
  padding-top: 90px;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  .mv--under-layer {
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .mv--under-layer {
    display: none;
  }
}

.mv--upper-layer {
  padding-top: 90px;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 960px;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 600px) {
  .mv--upper-layer {
    padding-top: 0;
    width: 100%;
  }
}

.main_imgBox--under-layer {
  height: 540px;
  overflow: hidden;
  position: relative;
}

.main_imgBox--under-layer .main_img {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 540px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 24s 0s infinite;
  animation: anime 24s 0s infinite;
}

.main_imgBox--under-layer .main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.main_imgBox--under-layer .main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.main_imgBox--under-layer .main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.main_imgBox--upper-layer {
  height: 540px;
  position: relative;
}

.main_imgBox--upper-layer .main_imgM {
  opacity: 0;
  width: 960px;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: animeNoscale 24s 0s infinite;
  animation: animeNoscale 24s 0s infinite;
}

@media (max-width: 600px) {
  .main_imgBox--upper-layer .main_imgM {
    width: 100%;
    background-size: contain;
  }
}

.main_imgBox--upper-layer .main_imgM:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.main_imgBox--upper-layer .main_imgM:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.main_imgBox--upper-layer .main_imgM:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.main_logo {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animeNoscale {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animeNoscale {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

.l-footer__img {
  padding-top: calc(400 / 1500 * 100%);
  background-image: url(/site-MYF/images/common/footer_img.png);
  background-size: contain;
}

.l-footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.l-footer__info--wrap {
  background-color: #288f4d;
}

.l-footer__info--group {
  color: #fff;
  font-size: 14px;
}

.l-footer__info--group p {
  line-height: 1.6;
}

.l-footer__info--group span {
  line-height: 1.2;
  font-size: 2.6rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .l-footer__info--group span {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .l-footer__info--zip-code {
    display: none;
  }
}

@media (max-width: 600px) {
  .l-footer__info--address {
    display: none;
  }
}

.l-footer__SNS--link {
  display: flex;
}

.l-footer__SNS--icon {
  margin: 0 15px 0 0;
  color: #fff;
}

.l-footer__SNS--icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.l-footer__SNS--icon:last-child {
  margin: 0;
}

.l-footer__copy--wrap {
  background-color: #422f0f;
  padding: 20px 0;
}

.l-footer__copy--text {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .l-footer__copy--text {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .p-news {
    position: relative;
    z-index: 2;
  }
}

.p-news--wrap {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .p-news--wrap {
    display: block;
  }
}

.p-news__list {
  border-bottom: 1px solid #e6e6e6;
  width: 510px;
}

@media (max-width: 600px) {
  .p-news__list {
    width: inherit;
  }
}

.p-news__list--wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .p-news__list--wrap {
    display: block;
    padding-bottom: 37px;
  }
}

.p-news__list__item {
  font-size: 1.6rem;
  padding: 0 0 25px;
  border-top: 1px solid #e6e6e6;
}

@media (max-width: 600px) {
  .p-news__list__item {
    display: none;
  }
}

.p-news__list__item:last-child {
  padding: 0;
}

.p-news__list__item a {
  position: relative;
  display: flex;
  color: #333333;
}

.p-news__list__date {
  display: flex;
  margin-right: 35px;
}

.p-news__item {
  background: #f6c6a2;
  border-radius: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.l-fb {
  width: 350px;
}

@media (max-width: 600px) {
  .l-fb {
    width: 100%;
  }
}

.p-about__figure {
  width: 389px;
  height: 400px;
}

@media (max-width: 600px) {
  .p-about__figure {
    width: 100%;
    height: auto;
  }
}

.p-about__figure--wrap {
  text-align: center;
  margin-bottom: 30px;
}

.p-about__description {
  color: #333333;
  font-size: 1.6rem;
  line-height: 1.6;
}

.p-about__description--wrap {
  margin: 0 auto;
  padding: 0 0 42px;
  width: 590px;
}

@media (max-width: 600px) {
  .p-about__description--wrap {
    width: 100%;
  }
}

.p-project__description {
  color: #333333;
  font-size: 1.6rem;
  line-height: 1.6;
}

.p-project__description--wrap {
  margin: 0 auto;
  padding: 0 0 42px;
  width: 590px;
}

@media (max-width: 600px) {
  .p-project__description--wrap {
    width: 100%;
  }
}

.p-donate--wrap {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .p-donate--wrap {
    display: block;
  }
}

.p-donate__description {
  color: #333333;
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.6;
}

@media (max-width: 600px) {
  .p-donate__description {
    width: inherit;
    margin-bottom: 18px;
  }
}

.p-donate__description--wrap {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .p-donate__description--wrap {
    width: 100%;
    margin-top: 22px;
  }
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.arrow:after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
}

.c-btn--wrap {
  text-align: center;
}

@media (max-width: 600px) {
  .c-btn--wrap {
    width: 100%;
  }
}

.c-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.c-btn__img {
  width: 440px;
  height: 100px;
}

@media (max-width: 600px) {
  .c-btn__img {
    width: 100%;
    height: auto;
  }
}

.c-card {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .c-card {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.c-card--wrap {
  margin: 0 auto;
  width: 100%;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .c-card--wrap {
    width: 47%;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 600px) {
  .c-card--wrap:nth-of-type(2n) {
    margin-left: auto;
  }
}

.c-card--wrap:last-child {
  margin-right: 0;
}

.c-card--wrap:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.c-card__item {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.c-card__img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.c-card__content {
  padding: 15px 20px 20px;
}

.c-card__title {
  font-size: 1.6rem;
  color: #333333;
  font-weight: 700;
  margin-bottom: 12px;
}

@media (max-width: 600px) {
  .c-card__title {
    font-size: 1.3rem;
  }
}

.c-card__text {
  color: #333333;
  font-size: 1.4rem;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .c-card__text {
    font-size: 1.2rem;
  }
}

.c-card__btn {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 5px 20px;
}

@media (max-width: 600px) {
  .c-card__btn {
    padding: 5px;
  }
}

.c-card__btn-text {
  text-decoration: none;
  color: #4f96f6;
  margin: 0 10px;
}

.c-card__btn-text:hover {
  color: #6bb6ff;
}

.btn__icon-message::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_message.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.btn__icon-overview::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_staff.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.btn__icon-staff::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_delivery.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.btn__icon-ques::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_piano.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.btn__icon-school::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_school.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.btn__icon-well::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_well.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.btn__icon-support::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_note.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.btn__icon-donate::after {
  content: "";
  background-image: url(/site-MYF/images/top/icon_donate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.slide-item {
  width: 300px;
  height: 200px;
  background: #000;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.slide-item:nth-child(2n) {
  background: #fafafa;
  color: #222;
}

.swiper-container {
  width: 385px;
  height: 216px;
  margin: 0;
}

@media (max-width: 600px) {
  .swiper-container {
    width: 320px;
    height: 180px;
    margin: 0 auto;
  }
}

.slide-item__img {
  width: 385px;
}

@media (max-width: 600px) {
  .slide-item__img {
    width: 320px;
  }
}

.bg-green {
  background: #e5f1e3;
}

/*# sourceMappingURL=style.css.map */
