.c-article {
  width: calc(100% - 20px);
  margin: 0 auto;

  &--wrap {
    @include pc {
      width: 800px;
      margin: 0 auto;
      padding-bottom: 72px;
    }

    & + .c-article__figure {
      @include pc {
        margin-top: 72px;
      }
    }
  }

  &__title {
    color: #333;
    margin: 20px 0;
    font-size: 2.4rem;
    font-weight: 600;

    @include pc {
      margin: 72px 0;
      font-size: 3.6rem;
    }
  }

  &__heading02{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    margin: 20px 0;
    line-height: 2.8rem;
    
    &::before{
      position: absolute;
      content: "";
      width: 5px;
      height: 28px;
      left: 0;
      top: 0;

      // border-left: 5px solid $titleColor;
      background-color: $titleColor;
      
    }
  }

  &__text {
    color: #333;
    font-size: 1.6rem;
    line-height: 30px;
    padding-bottom: 20px;

    @include pc {
      font-size: 1.8rem;
      line-height: 36px;
      padding-bottom: 72px;
    }
  }

  &__figure {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;

    @include pc {
      width: 800px;
      margin: 0 auto 72px;
    }

    img {
      width: 100%;
      height: auto;
    }

    &-img {
      position: relative;
      z-index: 1;
    }

    &-cap {
      position: absolute;
      z-index: 2;
      height: 36px;
      width: 100%;
      bottom: 0;
      font-size: 12px;
      font-weight: 600;
      line-height: 36px;
      color: #fff;
      background-color: rgb(82, 82, 82);
      padding-left: 10px;

      @include pc {
        line-height: 72px;
        height: 72px;
        padding-left: 36px;
        font-size: 2.4rem;
      }
    }
  }

  &__figure-sm {
    width: 100%;
    margin: 20px 0;

    &--wrap {
      position: relative;
      z-index: 1;
      width: 300px;
      height: 180px;
      margin: 0 auto;

      &-pc {
        position: relative;
        z-index: 1;
        float: left;
        margin: 0 0 20px 0;

        @include pc {
          margin: 0 36px 0 0;
        }

        img {
          width: 100%;
          height: auto;
          vertical-align: top;

          @include pc {
            width: 400px;
          }
        }
      }
    }

    &-pccap {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 36px;
      bottom: 0;
      font-size: 2rem;
      line-height: 36px;
      color: #fff;
      background-color: rgb(82, 82, 82);
      padding-left: 25px;
    }

    img {
      width: 300px;
      height: auto;
      vertical-align: top;
    }

    &-img {
      position: relative;
      z-index: 1;
    }

    &-cap {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 36px;
      bottom: 0;
      font-size: 10px;
      line-height: 36px;
      color: #fff;
      background-color: rgb(82, 82, 82);
      padding-left: 10px;
    }
  }

  &__imgText {
    color: #333;
    font-size: 1.6rem;
    line-height: 30px;

    @include pc {
      font-size: 1.8rem;
      line-height: 36px;
    }
  }
}

.annotation {
  color: rgb(82, 82, 82);
  text-decoration: underline solid rgb(82, 82, 82);

  &.one {
    &::after {
      content: "*1";
      color: #ff3333;
      font-weight: 600;
    }
  }

  &.two {
    &::after {
      content: "*2";
      color: #ff3333;
      font-weight: 600;
    }
  }

  &.three {
    &::after {
      content: "*3";
      color: #ff3333;
      font-weight: 600;
    }
  }

  &.four {
    &::after {
      content: "*4";
      color: #ff3333;
      font-weight: 600;
    }
  }

  &__detail {
    &-list {
      margin: 20px 0;

      @include pc {
        margin: 0;
      }
    }

    &-item {
      color: #333;
      position: relative;
      font-size: 1.6rem;
      padding-left: 3.2rem;
      line-height: 30px;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      span {
        position: absolute;
        left: 0;
        color: #ff3333;
        font-weight: 600;
      }
    }
  }
}
