.c-related-contents {
  width: calc(100% - 20px);
  height: auto;
  margin: 40px auto;
  padding-bottom: 20px;
  
  @include pc {
    margin: 0 auto;
    width: 800px;
  }

  &--wrap {
    @include pc {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__heading--text {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__article-list {
    margin-top: 10px;
    width: 100%;
    display: flex;

    @include pc {
      width: calc(100% / 2 - 5px);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__thumb {
    height: auto;
    margin-right: 10px;

    @include pc {
      margin-right: 20px;
    }

    img {
      width: 144px;
      height: auto;
    }
  }

  &__detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 7.5px;

    @include sp{
      margin-top: 0;
      font-size: 1.6rem;
    }
  }

  &__time {
    font-size: 1.6rem;
    margin-top: 9px;

    @include sp{
      font-size: 1.4rem;
    }
  }

  &__link {
    font-size: 1.6rem;
    margin-top: 4px;
    text-align: right;

    @include sp{
      font-size: 1.4rem;
    }

    span {
      position: relative;
      padding-left: 13px;

      &::before {
        content: ">";
        width: 10px;
        height: auto;
        position: absolute;
        left: 0;
      }
    }
  }
}
